<!-- About Section -->
    <section id="about" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                     <h2 class="section-heading">Shanshan Li</h2>
<!--                     <h3 class="section-subheading text-muted">Ph.D at Stony Brook University & Cold Spring Harbor Laboratory</h3>
 -->            </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center" >
                    <img src="img/about/shanshanli.jpg" class="img-responsive img-circle" alt="">
                </div>
            </div>
           <!--  <div class="row">
                {% for member in site.people %}
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="img/team/{{ member.pic }}.jpg" class="img-responsive img-circle" alt="">
                        <h4>{{ member.name }}</h4>
                        <p class="text-muted">{{ member.position }}</p>
                        <ul class="list-inline social-buttons">
                            {% for network in member.social %}
                            <li><a href="{{ network.url }}"><i class="fa fa-{{ network.title }}"></i></a>
                            {% endfor %}

                        </ul>
                    </div>
                </div>
                {% endfor %}
            </div> -->
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p class="large text-muted">Shanshan Li is a Ph.D in <a href=http://www.ams.sunysb.edu/>Applied Math and Statistics</a> at <a href=http://www.stonybrook.edu/>Stony Brook University </a>, corporate advised by <a href=http://www.cshl.edu/>Cold Spring Harbor Laboratory </a>. She received double degree of B.S. in Applied Mathematics and Economics at <a href=https://en.wikipedia.org/wiki/Nankai_University>Nankai University</a>. During the graduate school, she is supervised by <a href=http://www.ams.sunysb.edu/~xing/>Prof. Haipeng Xing</a> and <a href=http://library.cshl.edu/personal-collections/james-hicks/>Dr. James Hicks</a>. Her research interests intersect at machine learning, statistics, bioinformatics and quantitative finance, with the goal of understanding underlying patterns of complex and big data.
                    </p>
                    <p class="large text-muted">
                      <br> Email: shaniavina [at] gmail.com
                    </p>
                </div>
            </div>
        </div>
    </section>
