<!-- intro Section -->
    <section id="intro">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Intro</h2>
                    <h3 class="section-subheading text-muted">Three things about Shanshan. Click the icons for more details.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary" style="color:#0266C8"></i>
                        <a href="https://scholar.google.com/citations?user=bvjiZO8AAAAJ&hl=en"><i class="fa fa-google fa-stack-1x fa-inverse"></i></a>
                    </span>
                    <h4 class="intro-heading">Science</h4>
                    <p class="text-muted">My research is centered on techniques for scalable and accurate inference in time-varying network structures, statistical modeling of data, large-scale optimization, and robust anomaly detection in time series, and is motivated by a range of applications, in particular ones in bioinformatics and quantitative finance. Checkout my Google scholar profile.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary" style="color:black"></i>
                        <a href="https://github.com/shaniavina"><i class="fa fa-github fa-stack-1x fa-inverse"></i></a>
                    </span>
                    <h4 class="intro-heading">Programming</h4>
                    <p class="text-muted">Many fields and industries are witnessing huge increases in the quantity and complexity of data. This changing data paradigm will only lead to a similarly dramatic increase in theoretical understanding and useful technologies. Creating and applying these statistical and machine learning algorithms is the focus of my research. And I'd like to share methods on <a href=https://github.com/shaniavina>Github</a>, where you can find a lot of amazing stuffs. </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary" style="color:#4099FF"></i>
                        <a href="https://twitter.com/shaniavina"><i class="fa fa-twitter fa-stack-1x fa-inverse"></i></a>
                    </span>
                    <h4 class="intro-heading">Discussion</h4>
                    <p class="text-muted">If you are interested in machine learning, big data, quantitative finance or any questions about my research, come follow me on twitter. I'd like to have open discussions about these topics 24/7.</p>
                </div>
            </div>
        </div>
    </section>
