<!-- intro Section -->
    <section id="intro">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Intro</h2>
                    <h3 class="section-subheading text-muted">Three things about Han. Click the icons for more details.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary" style="color:#0266C8"></i>
                        <a href="https://scholar.google.com/citations?user=mQIqIVwAAAAJ&hl=en"><i class="fa fa-google fa-stack-1x fa-inverse"></i></a>
                    </span>
                    <h4 class="intro-heading">Science</h4>
                    <p class="text-muted">My research interests lie in the intersection of machine learning, statistics, and genomics, with the goal of understanding underlying patterns of complex data. Checkout my Google scholar profile.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary" style="color:black"></i>
                        <a href="https://github.com/hanfang"><i class="fa fa-github fa-stack-1x fa-inverse"></i></a>
                    </span>
                    <h4 class="intro-heading">Programming</h4>
                    <p class="text-muted">I believe in open-sourced programs, efficient algorithms, and well-documented codes. Most importantly, I am on <a href=https://github.com/hanfang>Github</a> and <a href=https://sourceforge.net/u/hanfang/profile>Sourceforge</a>, where you can find a lot of amazing people. </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary" style="color:#4099FF"></i>
                        <a href="https://twitter.com/Han_Fang_"><i class="fa fa-twitter fa-stack-1x fa-inverse"></i></a>
                    </span>
                    <h4 class="intro-heading">Discussion</h4>
                    <p class="text-muted">If you are interested in computer science, complex data, genomics and ultimately open science, come follow me on twitter. We have a huge community with open discussions about these topics 24/7.</p>
                </div>
            </div>
        </div>
    </section>
