<!-- About Section -->
    <section id="news">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">News</h2>
                    <!-- <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3> -->
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">

                      <li class="timeline-inverted">
                          <div style="background-image:url('img/news/2017mar.png'); background-size:cover" class="timeline-image">
                          </div>
                          <div class="timeline-panel">
                              <div class="timeline-heading">
                                  <h4>March 2017</h4>
                                  <h4 class="subheading">Won the President’s Award to Distinguished Doctoral Students</h4>
                              </div>
                              <div class="timeline-body">
                                <p class="text-muted">Location: Stony Brook, NY </p>
                              </div>
                          </div>
                      </li>

                      <li class="timeline-panel">
                          <div style="background-image:url('img/news/june2015.png'); background-size:cover" class="timeline-image">
                          </div>
                          <div class="timeline-panel">
                              <div class="timeline-heading">
                                  <h4>November 2016</h4>
                                  <h4 class="subheading">Paper in Nature Protocols</h4>
                              </div>
                              <div class="timeline-body">
                                  <p class="text-muted">Title: Indel variant analysis of short-read sequencing data with Scalpel (<a href="http://www.nature.com/nprot/journal/v11/n12/full/nprot.2016.150.html">View Paper</a>).</p>
                              </div>
                          </div>
                      </li>

                      <li class="timeline-inverted">
                          <div style="background-image:url('img/news/june2016.png'); background-size:cover" class="timeline-image">
                          </div>
                          <div class="timeline-panel">
                              <div class="timeline-heading">
                                  <h4>August 2016</h4>
                                  <h4 class="subheading">Summer internship as Data Scientist at Facebook</h4>
                              </div>
                              <div class="timeline-body">
                                <p class="text-muted">Location: Menlo Park, CA </p>
                              </div>
                          </div>
                      </li>

                      <li>
                          <div style="background-image:url('img/news/feb2016.png'); background-size:cover" class="timeline-image">
                          </div>
                          <div class="timeline-panel">
                              <div class="timeline-heading">
                                  <h4>Feburary 2016</h4>
                                  <h4 class="subheading">Talk presentation at AGBT Meeting</h4>
                              </div>
                              <div class="timeline-body">
                                <p class="text-muted">Title: Scikit-ribo—Accurate A-site prediction and robust modeling of translation control (<a href="http://schatzlab.cshl.edu/presentations/2016/2016.02.12.AGBT.scikit-ribo.Robust%20Modeling%20of%20translational%20control.pdf">View Slides</a>).</p>
                              </div>
                          </div>
                      </li>

                        <li class="timeline-inverted">
                          <div style="background-image:url('img/news/oct2015.png'); background-size:cover" class="timeline-image">
                          </div>
                          <div class="timeline-panel">
                              <div class="timeline-heading">
                                  <h4>October 2015</h4>
                                  <h4 class="subheading">Talk presentation at Genome Informatics meeting</h4>
                              </div>
                              <div class="timeline-body">
                                  <p class="text-muted">Title: Scikit-ribo—Accurate A-site prediction and robust modeling of translation control (<a href="http://schatzlab.cshl.edu/presentations/2015/2015.10.29.GI.Scikit-ribo.pdf">View Slides</a>).</p>
                              </div>
                          </div>
                        </li>

                        <li>
                            <div style="background-image:url('img/news/nov2014.png'); background-size:cover" class="timeline-image">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>November 2014</h4>
                                    <h4 class="subheading">Talk presentation at CSHL Data Science Meeting</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Title: Reducing INDEL calling errors in whole genome and exome sequencing data (<a href="http://schatzlab.cshl.edu/presentations/2014.11.08.Indel%20Errors.pdf">View Slides</a>). </p>
                                </div>
                            </div>
                        </li>

                        <li class="timeline-inverted">
                            <div style="background-image:url('img/news/oct2014.png'); background-size:cover" class="timeline-image">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>October 2014</h4>
                                    <h4 class="subheading">Paper in Genome Medicine</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Title: Reducing INDEL calling errors in whole genome and exome sequencing data (<a href="http://www.genomemedicine.com/content/6/10/89/">View Paper</a>). </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div style="background-image:url('img/news/aug2014.png'); background-size:cover" class="timeline-image">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>August 2014</h4>
                                    <h4 class="subheading">Paper in Nature Methods</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Title: Accurate de novo and transmitted indel detection in exome-capture data using microassembly(<a href="http://www.nature.com/nmeth/journal/v11/n10/full/nmeth.3069.html">View Paper</a>). </p>
                                </div>
                            </div>
                        </li>

<!--                         <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of Our
                                    <br>Story!</h4>
                            </div>
                        </li> -->
                    </ul>
                </div>
            </div>
        </div>
    </section>
