<!-- About Section -->
    <section id="news">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">News</h2>
                    <!-- <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3> -->
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">

                      <li class="timeline-inverted">
                          <div style="background-image:url('img/news/2017mar.png'); background-size:cover" class="timeline-image">
                          </div>
                          <div class="timeline-panel">
                              <div class="timeline-heading">
                                  <h4>May 2017</h4>
                                  <h4 class="subheading">Graduation Hooding Ceremony</h4>
                              </div>
                              <div class="timeline-body">
                                <p class="text-muted">Location: Stony Brook, NY </p>
                              </div>
                          </div>
                      </li>

                      <li class="timeline-panel">
                          <div style="background-image:url('img/news/nov2017.jpg'); background-size:cover" class="timeline-image">
                          </div>
                          <div class="timeline-panel">
                              <div class="timeline-heading">
                                  <h4>November 2016</h4>
                                  <h4 class="subheading">Thesis Defense</h4>
                              </div>
                              <div class="timeline-body">
                                  <p class="text-muted">Title: Estimation and Detection of Net
                                      
                                      
                                      
                                      
                                      
                                      
                                      rk Variation in Intraday Stock Market .</p>
                              </div>
                          </div>
                      </li>

                      <li class="timeline-inverted">
                          <div style="background-image:url('img/news/nov2016.jpg'); background-size:cover" class="timeline-image">
                          </div>
                          <div class="timeline-panel">
                              <div class="timeline-heading">
                                  <h4>November 2015</h4>
                                   <h4 class="subheading">The First High Dimension(233) Time-varing Dependence Matrix using Financial Data</h4>
                              </div>
                              <div class="timeline-body">
                                  <p class="text-muted">Title: A Time-varying Partial Correlation Network Analysis of Price Change in Intraday Stock Market.</p>
                              </div>
                          </div>
                      </li>
                                 

                      <li>
                          <div style="background-image:url('img/news/sep2015.jpg'); background-size:cover" class="timeline-image">
                          </div>
                          <div class="timeline-panel">
                              <div class="timeline-heading">
                                  <h4>September 2015</h4>
                                  <h4 class="subheading">Improved the optimal weights of K-means Clustering</h4>
                              </div>
                              <div class="timeline-body">
                                <p class="text-muted">Title: An iterative algorithm for optimal variable weighting in K-means clustering.</p>
                              </div>
                          </div>
                      </li>

                        <li class="timeline-inverted">
                          <div style="background-image:url('img/news/june2015.jpg'); background-size:cover" class="timeline-image">
                          </div>
                          <div class="timeline-panel">
                              <div class="timeline-heading">
                                  <h4>June 2015</h4>
                                  <h4 class="subheading">Cold Spring Harbor Laboratory</h4>
                              </div>
                              <div class="timeline-body">
                                  <p class="text-muted"> Developed Bayesian Method to identified the genetic mutations.</p>
                              </div>
                          </div>
                        </li>

                        <li>
                            <div style="background-image:url('img/news/may2014.png'); background-size:cover" class="timeline-image">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>May 2014</h4>
                                    <h4 class="subheading">Talk presentation at Stony Brook University</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Title: Clusteing Analysis. </p>
                                </div>
                            </div>
                        </li>

                        <li class="timeline-inverted">
                            <div style="background-image:url('img/news/august2013.jpg'); background-size:cover" class="timeline-image">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>August 2013</h4>
                                    <h4 class="subheading">Won the first prize of HorseRace Portfolio Competition (<a href="pdf/august2013.pdf" class="page-scroll btn btn-xl">Download</a> </h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Implemented a better fitted math model (MNTS-ARMA-GARCH). </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div style="background-image:url('img/news/may2013.jpg'); background-size:cover" class="timeline-image">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>May 2013</h4>
                                    <h4 class="subheading">Talk presentation at Stony Brook University</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Title: An Extension of Davis and Lo's Contagion Model. </p>
                                </div>
                            </div>
                        </li>

<!--                         <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of Our
                                    <br>Story!</h4>
                            </div>
                        </li> -->
                    </ul>
                </div>
            </div>
        </div>
    </section>
